doctype
html
	head
		title= title
		link(rel="stylesheet", href="css/admin.css")
		script(src="libs/angular/angular.min.js")
	body
		include layout/header.pug
		.main
			h1 Trang chủ quản trị
			p Demo by Hoangkun
			p &copy; 2017
