doctype
html(ng-app="myApp")
	head
		title= title
		link(rel="stylesheet", href="/css/admin.css")
		
	body(ng-controller="myController")
		include ../layout/header.pug
		div.main
			div.sub_menu
					div.title Thêm  danh mục con
					form(name="myforms")
						p
							span Tiêu đề
							input(type="text", placeholder="Tên danh mục con", ng-model="sub.title", required)
						p
							span Danh mục cha: 
							select(ng-model='sub.category')
								option(ng-repeat="i in Category", value="{{i.code}}") {{i.title}}
						input(type="submit",value="Upload" ng-click="myforms.$valid && btnUploadSub()")
			div.title List danh mục
			table
				tr
					td Tên danh mục con
					td Mã danh mục
					td Ngày tạo
					td(colspan="2") Action
				each i in data
					tr
						td= i.title
						td= i.code
						td= i.create
							button(ng-click="editCategory()") Sửa
						td 
							button(ng-click="delCategory()") Xóa
		script(src="/libs/angular/angular.min.js")
		script(src="/js/admin.js")
