#content
.main
  .new_post
    .content_main
      .content
        .left
          img(src='{img1}')
          h1
            a(href='')
              | Giải cứu phi trường Tân Sơn Nhất, chông gai, nhọc nhằn, hy vọng... không của riêng ai!
          p
            | Sau muôn nỗi nhọc nhằn chông gai, đợi chờ và hy vọng..., cuối cùng Thủ tướng Nguyễn Xuân Phúc cũng quyết định: Dừng mọi công trình hạ tầng phụ trợ sân golf Tân Sơn Nhất (khu biệt thự, khách sạn, nhà hàng...vv trong sân golf); để thuê tư vấn nước ngoài mở đường băng số 3 tiết kiệm hiệu quả, nhanh nhất.
        .right
          a(href='')  Cách dạy con bướng bỉnh “một phát nghe ngay” không cần quát mắng
          a(href='')  Cách dạy con bướng bỉnh “một phát nghe ngay” không cần quát mắng
          a(href='')  Cách dạy con bướng bỉnh “một phát nghe ngay” không cần quát mắng
          a(href='')  Cách dạy con bướng bỉnh “một phát nghe ngay” không cần quát mắng
          a(href='')  Cách dạy con bướng bỉnh “một phát nghe ngay” không cần quát mắng
          a(href='')  Cách dạy con bướng bỉnh “một phát nghe ngay” không cần quát mắng
      .sidebar
  .video
    .head
      h3
        a(href='') video
      ul
        li
          a(href='')  Thời sự 
        li
          a(href='')  Mẹo vặt 
        li
          a(href='')  Fitness 
        li
          a(href='')  Nội trợ 
        li
          a(href='')  Review 
        li
          a(href='')  Lạ & Hay 
        li
          a(href='')  Funny 
        li
          a(href='')  Sao 
        li
          a(href='')  Làm đẹp 
        li
          a(href='')  Mạng xã hội 
    .video_content
      .video_item
        a(href='')
          img(src='{img_v1}')
        a(href='') "Sống chung với mẹ chồngđột ngột thay đổi kết thúc"
      .video_item
        a(href='')
          img(src='{img_v1}')
        a(href='') "Sống chung với mẹ chồng đột ngột thay đổi kết thúc"
      .video_item
        a(href='')
          img(src='{img_v1}')
        a(href='') "Sống chung với mẹ chồng đột ngột thay đổi kết thúc"
      .video_item
        a(href='')
          img(src='{img_v1}')
        a(href='') "Sống chung với mẹ chồng đột ngột thay đổi kết thúc"
      .video_item
        a(href='')
          img(src='{img_v1}')
        a(href='') "Sống chung với mẹ chồng đột ngột thay đổi kết thúc"
      .video_item
        a(href='')
          img(src='{img_v1}')
        a(href='') "Sống chung với mẹ chồng đột ngột thay đổi kết thúc"
  .new_post.news
    .head
      h3
        a(href='') Tin tức
      ul
        li
          a(href='')  Phóng sự 
        li
          a(href='')  Mẹo vặt 
        li
          a(href='')  Pháp luật 
        li
          a(href='')  Kinh doanh 
        li
          a(href='')  Giao thông 
        li
          a(href='')  Môi trường 
    .content_main
      .content
        .left
          .item
            a(href='')
              img(src='{img1}')
            a(href='')
              | Giải cứu phi trường Tân Sơn Nhất, chông gai, nhọc nhằn, hy vọng... không của riêng ai!
            p
              | Sau muôn nỗi nhọc nhằn chông gai, đợi chờ và hy vọng..., cuối cùng Thủ tướng Nguyễn Xuân Phúc cũng quyết định: Dừng mọi công trình hạ tầng phụ trợ sân golf Tân Sơn Nhất (khu biệt thự, khách sạn, nhà hàng...vv trong sân golf); để thuê tư vấn nước ngoài mở đường băng số 3 tiết kiệm hiệu quả, nhanh nhất.
          .list
            .list_item
              a(href='')
                | ​
                img(src='{img2}')
              a(href='') ​Du khách Mỹ hết đường vào Triều Tiên
            .list_item
              a(href='')
                | ​
                img(src='{img2}')
              a(href='') ​Du khách Mỹ hết đường vào Triều Tiên
            .list_item
              a(href='')
                | ​
                img(src='{img2}')
              a(href='') ​Du khách Mỹ hết đường vào Triều Tiên
        .right
          a(href='')  Chủ tịch Hà Nội: “Không thể trồng xà cừ cổ thụ trên các tuyến phố”
          a(href='')  Chủ tịch Hà Nội: “Không thể trồng xà cừ cổ thụ trên các tuyến phố”
          a(href='')  Chủ tịch Hà Nội: “Không thể trồng xà cừ cổ thụ trên các tuyến phố”
      .sidebar
  .star
    .content
      .head
        h3
          a(href='') Ngôi sao
        ul
          li
            a(href='')  Showbiz 
          li
            a(href='')  TV Show 
          li
            a(href='')  Bài hát yêu thích 
          li
            a(href='')  Phim hay 
      .content_main
        .content_head
          a(href='')
            img(src='{img3}')
          .right
            .right_item
              a(href='')  Đồng nghiệp bức xúc bênh Phan Đinh Tùng sau scandal bắt nạt đàn em
              p
                | Nhạc sĩ Nguyễn Văn Chung, diễn viên Hữu Công… đã lên tiếng ngay sau khi ca sĩ Phan Đình Tùng bị nhiều người “ném đá” đi trễ show và tỏ thái độ coi thường đàn em gây xôn xao.
            a(href='') Hé lộ hóa đơn 7 tỷ Jennifer Lopez vung tay cho 2 ngày du hý với tình trẻ
            a(href='') Terry trêu chọc chỗ nhạy cảm của Fabregas khi hôn bạn gái
        .content_bot
          .item
            a(href='')
              img(src='{img4}')
            a(href='') Diễn viên trẻ bắn chết mẹ và em trai trước khi tự sát
          .item
            a(href='')
              img(src='{img3}')
            a(href='')
              | Ngoại hình đẹp trai ngời ngời, cậu em của Miley Cyrus cũng đã chính thức "tấn công" showbiz!
          .item
            a(href='')
              img(src='{img4}')
            a(href='') Diễn viên trẻ bắn chết mẹ và em trai trước khi tự sát
        .section
          .item
            .head
              h3
                a(href='') Thời trang
            .item_top
              a(href='')
                img(src='{img5}')
              a(href='')
                | Hoàng Ku: Giám khảo "cool" nhất The Face, tiết lộ lý do từ chối làm việc cùng Hoàng Thùy lẫn Minh Tú
            a(href='')
              | Dân mạng tưởng Trấn Thành mặc… nhầm quần của Hari Won đến dự sinh nhật Subeo vì bó “sít háng”
            a(href='') The Face Việt Nam: "Nữ hoàng đi trễ" Minh Tú để thí sinh bơ vơ tự tập catwalk
            a(href='') Xuất hiện áo lot hình viên đạn của chị em khiến mày râu thấp thỏm
            a(href='') Choáng với cuộc sống sang chảnh tột cùng của công chúa Dubai
            a(href='') Review giày ASICS RoadHawk FF - Sự kết hợp hoàn hảo giữa tốc độ và phong cách
          .item
            .head
              h3
                a(href='') Làm đẹp
            .item_top
              a(href='')
                img(src='{img6}')
              a(href='') Ra mắt Viện điều trị nám chuyên sâu đầu tiên tại Việt Nam
            a(href='')
              | Lũ mụn ẩn “cứng đầu” đáng ghét cũng phải chào thua với cách chăm sóc siêu đơn giản này
            a(href='') Ngày càng nhiều mẹ chọn làm đẹp vùng kín ngay khi đẻ xong, chuyên gia nói gì?
            a(href='') Review thuốc nhuộm tóc 3CE Treatment Hair Tint đang hot nhất hiện nay
            a(href='') 8 phương pháp làm đẹp siêu lợi hại giúp phụ nữ châu Á “trẻ mãi không già”
            a(href='')
              | Chỉ với 1 quả trứng gà, chị em đã có vô vàn cách trị hết tàn nhang, da bật tông hiệu quả
        .section
          .item
            .head
              h3
                a(href='') Nấu ăn
            .item_top
              a(href='')
                img(src='{img5}')
              a(href='')
                | Hoàng Ku: Giám khảo "cool" nhất The Face, tiết lộ lý do từ chối làm việc cùng Hoàng Thùy lẫn Minh Tú
            a(href='')
              | Dân mạng tưởng Trấn Thành mặc… nhầm quần của Hari Won đến dự sinh nhật Subeo vì bó “sít háng”
            a(href='') The Face Việt Nam: "Nữ hoàng đi trễ" Minh Tú để thí sinh bơ vơ tự tập catwalk
            a(href='') Xuất hiện áo lot hình viên đạn của chị em khiến mày râu thấp thỏm
            a(href='') Choáng với cuộc sống sang chảnh tột cùng của công chúa Dubai
            a(href='') Review giày ASICS RoadHawk FF - Sự kết hợp hoàn hảo giữa tốc độ và phong cách
          .item
            .head
              h3
                a(href='') Sức khỏe
            .item_top
              a(href='')
                img(src='{img6}')
              a(href='') Ra mắt Viện điều trị nám chuyên sâu đầu tiên tại Việt Nam
            a(href='')
              | Lũ mụn ẩn “cứng đầu” đáng ghét cũng phải chào thua với cách chăm sóc siêu đơn giản này
            a(href='') Ngày càng nhiều mẹ chọn làm đẹp vùng kín ngay khi đẻ xong, chuyên gia nói gì?
            a(href='') Review thuốc nhuộm tóc 3CE Treatment Hair Tint đang hot nhất hiện nay
            a(href='') 8 phương pháp làm đẹp siêu lợi hại giúp phụ nữ châu Á “trẻ mãi không già”
            a(href='')
              | Chỉ với 1 quả trứng gà, chị em đã có vô vàn cách trị hết tàn nhang, da bật tông hiệu quả
        .section
          .item
            .head
              h3
                a(href='') Tử vi
            .item_top
              a(href='')
                img(src='{img5}')
              a(href='')
                | Hoàng Ku: Giám khảo "cool" nhất The Face, tiết lộ lý do từ chối làm việc cùng Hoàng Thùy lẫn Minh Tú
            a(href='')
              | Dân mạng tưởng Trấn Thành mặc… nhầm quần của Hari Won đến dự sinh nhật Subeo vì bó “sít háng”
            a(href='') The Face Việt Nam: "Nữ hoàng đi trễ" Minh Tú để thí sinh bơ vơ tự tập catwalk
            a(href='') Xuất hiện áo lot hình viên đạn của chị em khiến mày râu thấp thỏm
            a(href='') Choáng với cuộc sống sang chảnh tột cùng của công chúa Dubai
            a(href='') Review giày ASICS RoadHawk FF - Sự kết hợp hoàn hảo giữa tốc độ và phong cách
          .item
            .head
              h3
                a(href='') Phong thủy
            .item_top
              a(href='')
                img(src='{img6}')
              a(href='') Ra mắt Viện điều trị nám chuyên sâu đầu tiên tại Việt Nam
            a(href='')
              | Lũ mụn ẩn “cứng đầu” đáng ghét cũng phải chào thua với cách chăm sóc siêu đơn giản này
            a(href='') Ngày càng nhiều mẹ chọn làm đẹp vùng kín ngay khi đẻ xong, chuyên gia nói gì?
            a(href='') Review thuốc nhuộm tóc 3CE Treatment Hair Tint đang hot nhất hiện nay
            a(href='') 8 phương pháp làm đẹp siêu lợi hại giúp phụ nữ châu Á “trẻ mãi không già”
            a(href='')
              | Chỉ với 1 quả trứng gà, chị em đã có vô vàn cách trị hết tàn nhang, da bật tông hiệu quả
        .section
          .item
            .head
              h3
                a(href='') Gia đình
            .item_top
              a(href='')
                img(src='{img5}')
              a(href='')
                | Hoàng Ku: Giám khảo "cool" nhất The Face, tiết lộ lý do từ chối làm việc cùng Hoàng Thùy lẫn Minh Tú
            a(href='')
              | Dân mạng tưởng Trấn Thành mặc… nhầm quần của Hari Won đến dự sinh nhật Subeo vì bó “sít háng”
            a(href='') The Face Việt Nam: "Nữ hoàng đi trễ" Minh Tú để thí sinh bơ vơ tự tập catwalk
            a(href='') Xuất hiện áo lot hình viên đạn của chị em khiến mày râu thấp thỏm
            a(href='') Choáng với cuộc sống sang chảnh tột cùng của công chúa Dubai
            a(href='') Review giày ASICS RoadHawk FF - Sự kết hợp hoàn hảo giữa tốc độ và phong cách
          .item
            .head
              h3
                a(href='') Xu hướng
            .item_top
              a(href='')
                img(src='{img6}')
              a(href='') Ra mắt Viện điều trị nám chuyên sâu đầu tiên tại Việt Nam
            a(href='')
              | Lũ mụn ẩn “cứng đầu” đáng ghét cũng phải chào thua với cách chăm sóc siêu đơn giản này
            a(href='') Ngày càng nhiều mẹ chọn làm đẹp vùng kín ngay khi đẻ xong, chuyên gia nói gì?
            a(href='') Review thuốc nhuộm tóc 3CE Treatment Hair Tint đang hot nhất hiện nay
            a(href='') 8 phương pháp làm đẹp siêu lợi hại giúp phụ nữ châu Á “trẻ mãi không già”
            a(href='')
              | Chỉ với 1 quả trứng gà, chị em đã có vô vàn cách trị hết tàn nhang, da bật tông hiệu quả
    .sidebar
