#footer
footer
	div.sport.main
		div.sport_head
			a(href="")
				i.fa.fa-life-ring
				span Đọc tin bóng đá
		div.head
			p
			ul
				li
					a(href="") Nhận định bóng đá
				li
					a(href="") Trực tiếp bóng đá
				li
					a(href="") Link sopcast
				li
					a(href="") Livescore
				li
					a(href="") Kết quả bóng đá trực tuyến
				li
					a(href="") Video bóng đá
		div.video_content
			div.video_item
				a(href="")
					img(src="", alt="") 
				a(href="") Nhận định Nga vs Bồ Đào Nha
			
			div.video_item
				a(href="")
					img(src="", alt="") 
				a(href="") Nhận định Nga vs Bồ Đào Nha
			
			div.video_item
				a(href="")
					img(src="", alt="")
				a(href="") Nhận định Nga vs Bồ Đào Nha
			
			div.video_item
				a(href="")
					img(src="", alt="")
				a(href="") Nhận định Nga vs Bồ Đào Nha
			
			div.video_item
				a(href="")
					img(src="", alt="")
				a(href="") Nhận định Nga vs Bồ Đào Nha
			
			div.video_item
				a(href="")
					img(src="", alt="") 
				a(href="") Nhận định Nga vs Bồ Đào Nha
	div.footer
		div.main
			div.item
				p © 2017 TamSuGiaDinh.vn
				p Tam su gia dinh: nơi chia sẻ những tâm sự của phụ nữ về cuộc sống hạnh phúc gia đình hàng ngày, hôn nhân, tình yêu vợ chồng. Những tâm sự thầm kín, tâm sự những điều khó nói trong gia đình sẽ được các chuyên gia tâm lý của tamsugiadinh.vn tư vấn tận tình..
				p Tại tamsugiadinh.vn bạn đọc có thể giãi bày những tâm sự buồn, chuyện phòng the, chuyện ngoại tình của vợ, chồng để được mọi người lắng nghe và chia sẻ.
			
			div.item
				p Demo by Hoàng kun
				p Địa chỉ: 377 Phạm Văn Đồng, Từ Liêm, Hà Nội
				p VP: Vinsofts

				p Liên hệ quảng cáo
				p Hotline: 0978.789.177 (Mr Hoàng)
				p Email: hoangsnow172@gmail.com