#header
header
	div.top
		div.main
			ul
				li
					a(href="") Thông tin tòa soạn
				li
					a(href="") Gửi bài cộng tác
				li
					a(href="") Media Kit
				li
					a(href="") Ảnh đẹp
				li
					a(href="") Video
				li
					a(href="/admin") Admin
			ul
				li
					a(href="")
						i.fa.fa-facebook-squarei
				li
					a(href="")
						i.fa.fa-google-plus
				li
					a(href="")
						i.fa.fa-pinteresti
				li
					input(placeholder="Nhập từ khóa tìm kiếm")
	div.mid.main
		a(href="")
			img(src="", alt="")
	nav
		ul.main
			li
				a(href="") Tin tức
				ul
					li
						a(href="") Phóng sự
					li
						a(href="") Pháp luật
			li
				a(href="") Tâm sự
			li
				a(href="") Gia đình
			li
				a(href="") Ngôi sao
			li
				a(href="") Thời trang
			li
				a(href="") Làm đẹp
			li
				a(href="") Sức khỏe
			li
				a(href="") Giáo dục
			li
				a(href="") Phong thủy
			li
				a(href="") Tử vi
			li
				a(href="") Xu hướng
	div.headding.main
		ul
			li
				i.myAnimation
				a(href="") Tin tức 24h
			li
				a(href="") Tỉ giá ngoại tệ
			li
				a(href="") Giá vàng
			li
				a(href="") Dự báo thời tiết
			li
				a(href="") Tai nạn giao thông mới nhất