doctype
html(lang="en")
	head
		title= title
		meta(charset="utf-8")
		link(rel="stylesheet", href="css/style.css")
		link(rel="stylesheet", href="libs/font-awesome/css/font-awesome.min.css")
	body
		include layout/header.pug
		include layout/content.pug
		include layout/footer.pug