doctype
html(ng-app="myApp")
	head
		title= title
		link(rel="stylesheet", href="/css/admin.css")
		
	body(ng-controller="myController")
		include ../layout/header.pug
		div.main
			div.title Danh sách thành viên
			table
				tr
					td Họ và tên
					td Tên đăng nhập
					td Mật khẩu
					td Ngày tạo
					td Ngày sửa
					td(colspan="2") Action
		script(src="/libs/angular/angular.min.js")
		//- script(src="../../modules/admin.js")